@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;
  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background-color: darken($colormain, 5);
    }
    i {
      font-size: $base-size + 1px;
    }
  }

  .language {
    .welcome {
      margin-right: 12px;
      border-right: 1px solid #333;
      padding-right: 12px;
    }

    .language-vi {
      cursor: pointer;
      opacity: 0.3;

      &.active {
        opacity: 1;
        color: orange;
      }
      &:hover {
        opacity: 0.6;
      }
    }
    .language-en {
      margin-left: 10px;
      margin-right: 15px;
      opacity: 0.3;
      cursor: pointer;
      color: #333;

      &.active {
        opacity: 1;
        color: #49c6ef;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
