.doctor-extra-info-container {
  // padding-left: 10px;
  // padding-right: 10px;
  .content-up {
    .text-address {
      text-transform: uppercase;
      color: #333;
    }
    .name-clinic {
      font-weight: 600;
      padding: 5px 0;
      color: #333;
    }
    .detail-address {
      font-weight: 600;
      color: #333;
      padding-bottom: 5px;
    }
  }

  .content-down {
    .short-info {
      .short-info-price {
        padding: 0 3px;
      }
      .btn-detail {
        cursor: pointer;
        color: rgb(97, 97, 238);
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .title-price {
      margin-bottom: 12px;
    }
    .detail-info {
      border: 1px solid #ddd;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      padding: 10px 12px;
      background-color: #f8f8f8;
      .price {
        margin-bottom: 5px;
        .right {
          float: right;
        }
      }
      .note {
      }
    }
    .payment {
      border: 1px solid #ddd;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      padding: 10px 12px;
      background-color: #eee;
    }
    .hide-price {
      margin-top: 10px;
      cursor: pointer;
      display: inline-block;
      color: rgb(97, 97, 238);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.doctor-extra-info-nodata {
  font-size: 16px;
  font-weight: 500;
  color: #a9a9a9;
}
