.manage-schedule-container {
  .m-s-title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
  }
  .pick-hour-container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .btn-schedule {
      border: 1px solid #adadad;
      padding: 5px 15px;
      &.isSelected {
        background-color: #f6a524;
      }
    }
  }
}
